<div class="container-search-main">
  <div class="container-search-inner">
    <label class="container-search-inner-label" for="search-box">{% localize search %}</label>
    {% if site.active_lang == 'en' %}
    <form class="container-search-inner-form" id="search-form" action="/search/" method="get">
    {% else %}
    <form class="container-search-inner-form" id="search-form" action="/{{site.active_lang}}/search/" method="get">
    {% endif %}
      <div class="container-search-inner-form-input">
        <input type="text" placeholder="{% localize lookformore %}" class="container-search-inner-form-box" id="search-box" name="query">
      </div>
      <div class="container-search-inner-form-submit">
        <input class="container-search-inner-form-submit-button" type="submit" value="{% localize go %}">
      </div>
    </form>
  </div>
</div>

